---
const {...offre}=Astro.props;
---
<div class="bg-white rounded-lg shadow-lg p-4 border border-gray-200 m-5" >
   <ul class="p-4 bg-gray-100">
    <li>{offre.adresse}</li>
    <li>{offre.favori}</li>
    <li>{offre.id}</li>
    <li>{offre.nbChambres}</li>
    <li>{offre.nbSdb}</li>
    <li>{offre.nomMaison}</li>
    <li>{offre.prix}</li>
    <li>{offre.surface}</li>
    <li>{offre.imgUrl}</li>
   </ul>
</div>