---
const { ...offre } = Astro.props;

// console.log("orrfe .", offre);
---

<div class="bg-white rounded-lg shadow-lg p-4 border border-gray-200 m-5">
  <ul class="p-4 bg-gray-100">
    <li><h1 class="text-xl pb-4">{offre.Nom_maison}</h1></li>
    <li>{offre.Adresse}</li>
    <li>{offre.Favori}</li>
    <li>{offre.Numero_de_chambres} chambres</li>
    <li>{offre.nbSdb} salles des bain</li>
    <li>{offre.prix} $</li>
    <li>{offre.surface} m2</li>
    <img src={offre.imageUrl} alt="" />

    <div class="flex justify-center p-4 bg-black text-white">
    <a href={`/offres/${offre.id}`}>Voir plus</a>
    </div>
  </ul>
</div>
